@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  width: 200vw;
  font-family: "Instrument Serif", serif;
  color: black;
  text-decoration: none;

  font-style: normal;

  cursor: url(/images/cursor_small.png) 2 2, auto;

  /* font-family: "adaptive-mono", monospace; */
  /* font-family: 'Xanh Mono', monospace; */
  /* font-family: "stinger-variable", sans-serif; */
  /* font-variation-settings: "wdth" 100, "wght" 400;     */
}

a {
  text-decoration: none;
}

a,button :hover{
  cursor: url(/images/pointer2_small.png) 2 2, pointer;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.welcome_page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  justify-content: center;
  pointer-events: none;
}

.welcome_div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: lightgray;
  position: absolute;
  transition: transform 2s ease, opacity 2s; /* Transition for smooth movement */
  pointer-events: all;
}

#myDiv1 {
  z-index: 6;
}

#myDiv2 {
  z-index: 5;
}

#myDiv3 {
  z-index: 4;
}

#myDiv4 {
  z-index: 3;
}

#myDiv5 {
  z-index: 2;
}

#myDiv6 {
  z-index: 1;
}

.move-up {
  transform: translateY(-100%) !important;
  opacity: 0;
  /*
  pointer-events: none;
  position: absolute;
  top: -200vh; */
}

/* .move-down {
  transform: translate(0, -100vh);
  background-color: none;
  height: 0vh;
} */

.welcome_img {
  height: 100vh;
  width: auto;
}

.welcome_title {
  color: black;
  font-size: 40vh;
  line-height: 30vh;
  padding-left: 2vw;
  padding-top: 2vh;
  text-align: left;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

.welcome_title_2 {
  color: black;
  font-size: 40vh;
  line-height: 30vh;
  padding-left: 2vw;
  padding-top: 5vh;
  text-align: center;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

.welcome_texte {
  color: black;
font-size: 7vh;
line-height: 7vh;
text-align: center;
padding-top: 10vh;
text-shadow: 1px 1px 6px rgb(0, 0, 0);
text-decoration: none;
transition: ease-in-out 0.2s;
padding-left: 15vw;
padding-right: 15vw;
}




.logo-small {
  width: 3vw;
  height: auto;
  position: fixed;
  left: 2vw;
  top: 2vh;
  transition: ease-in-out 0.5s;
  z-index: 15;
}

.logo-small:hover {
  mix-blend-mode: difference;
}

/* 
  tableau */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  z-index: 1;
}

.grid-item {
  padding: 0.5vh;
  text-align: center;
  height: 20vw;
  width: 20vw;
  transition: ease-in-out 0.5s;
  overflow: hidden;
}

.grid-item::-webkit-scrollbar {
  display: none;
}

.text {
  overflow: hidden;
  transition: ease-in-out 1.5s;
  background-color: none;
}

.text:hover {
  width: 100vw;
  height: 100vh;
  /* padding-left: 20vw;
  padding-right: 20vw; */
  overflow-y: scroll;
}

.corpus {
  margin-top: 20vh;
  padding-bottom: 5vh;
}

.corpus_books {
  margin-top: 10vh;
}

.images {
  max-width: 100%;
  height: 100%;
  border-radius: 1%;
  /* filter: grayscale(100%); */
}

h1 {
  color: black;
  font-size: 10vh;
  line-height: 9vh;
  text-align: left;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

/* 
  MANIFESTO */
h2 {
  color: black;
  font-size: 7vh;
  line-height: 7vh;
  text-align: center;
  padding-top: 10vh;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

h2:hover {
  color: rgb(255, 106, 0);
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

/* 
  CORPS DE TEXTE */

h3 {
  color: black;
  font-size: 3vh;
  line-height: 3.5vh;
  font-family: "PT Serif", serif;
  margin-left: 2vw;
  text-align: left;
  background-color: none;
  transition: ease-in-out 0.5s;
  padding-left: 20vw;
  padding-right: 20vw;
}

.word-highlight {
  color: black;
  font-family: "Instrument Serif", serif;
  font-size: 5vh;
  line-height: 6.5vh;
  margin-left: -10vw;
  background-color: rgb(255, 106, 0);
}

.retrait {
  padding-left: 30vw;
}

/* 
  TABLEAU */

.refs {
  overflow: hidden;
  transition: ease-in-out 1.5s;
  background-color: none;
}

.refs:hover {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.grid-container-refs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  z-index: 1;
}

.grid-item-refs {
  /* background-color: rgba(255, 255, 255, 0); */
  padding: 20px;
  text-align: center;
  height: 30vw;
  width: 30vw;
  transition: ease-in-out 0.5s;
  overflow: hidden;
  background-color: none;
}

.images-refs {
  max-width: 100%;
  height: 100%;
  border-radius: 1%;
  transition: ease-in-out 0.2s;
}

.images-refs:hover {
transform: rotateX(8deg) rotateY(20deg);
}

.test {
  background-color: red;
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
}

h4 {
  color: black;
  font-size: 5vh;
  line-height: 5vh;
  text-align: center;
  padding-top: 10vh;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
  text-decoration: none;
}

h4:hover {
  color: rgb(255, 106, 0);
}


h6 {
  padding-top: 1vh;
  font-size: 2vh;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "PT Serif", serif;
}

h6:hover {
  color: white;
  text-decoration: none;
}

.print_manifesto {
  padding-top: 2vh;
  font-size: 2vh;
  color: black;
  text-align: right;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.print_manifesto:hover {
  color: rgb(255, 106, 0);
  text-decoration: none;
}
.collage {
  max-height: 20vw;
  width: auto;
  mix-blend-mode: multiply;
  transition: ease-in-out 0.2s;
  padding-bottom: 5vh;
}
.collage:hover {
  mix-blend-mode: difference;
}







@media screen and (max-width: 400px) {
  .body {
    height: 100vh;
  }

a{
  text-decoration: none;
}

  .welcome_title {
    font-size: 10vh;
    line-height: 8vh;
    padding-left: 0.5vw;
    padding-top: 5vh;
  }

  .welcome_texte {
      color: black;
  font-size: 7vh;
  line-height: 7vh;
  text-align: center;
  padding-top: 10vh;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
  text-decoration: none;
  transition: ease-in-out 0.2s;
  }

  .logo-small {
    width: 7vw;
  }

  .grid-item,
  .grid-item-refs {
    height: 50vw;
    width: 50vw;
  }

  h1 {
    font-size: 5vh;
    line-height: 4.5vh;
  }

  h2 {
    font-size: 3vh;
    line-height: 2vh;
  }

  h3 {
    font-size: 2vh;
    line-height: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  h4 {
    font-size: 2vh;
    line-height: 2vh;
  }

  .word-highlight {
    font-size: 3vh;
    line-height: 3.5vh;
  }
  .retrait {
    padding-left: 15vw;
  }
  .grid-container-refs {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    z-index: 1;
  }
}
